.center{
	text-align: center;
	height: 100vh;
	width: 100%
}
.navbar-back{
	background-color: #ffffff;
}
.bg-1{
	background-color: #03A9F4;
}
.bg-2{
	background-color: #D32F2F;
}
.bg-3{
	background-color: #d3582f;
}
.accent{
	background-color: #F44336;
}
.text-color-1{
	color: #212121;
}
.text-color-2{
	color: #757575;
}
.text-color-accent{
	color:  #90caf9;

}
.text-size{
	font-size: 24px;
}
.inline{
	display: inline;
}
.text-black{
	color: #000000;
}
.text-white{
	color: #ffffff;
}
.container-fluid{
	padding-top: 70px;
	padding-bottom: 70px;
}
.all-padding{
	padding-left: 40vh;
	padding-right: 20vh;
}
.more-padding{
	padding-top: 40vh;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}